<div id="<%= dom_id beer_club %>">
  <% if @beer_club %>
    <h2> <%= beer_club.name %> </h2>
  <% else %>
    <%= link_to beer_club.name, beer_club %>
  <% end %>

  was founded in
  <%= beer_club.founded %>,
  <%= beer_club.city %>
  <% if @membership %>
    <%= form_with(model: @membership) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Join this club" %>
    <% end %>
  <% end %>

  <% if @beer_club %>
    <% if not @beer_club.members.empty? %>
      and has the following members:
      <ul>
        <% @beer_club.members.each do |member| %>
          <li>
            <%= link_to member.username, member %>
          </li>
        <% end %>
      </ul>
    <% else %>
      and it has no members yet...
    <% end %>
  <% end %>
</div>
