<p style="color: green"><%= notice %></p>

<div>
  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <h3>Ratings</h3>
  <%= @user.username %> has
  <% if @user.ratings.empty? %>
    not rated any beers, yet...
  <% else %>
    made
    <%= "#{pluralize(@user.ratings.size, "rating", "ratings")}  with an average of #{@user.average_rating}:" %>
    <ul>
      <% @ratings.each do |rating| %>
        <li>
          <%= rating.to_s %>
          <% if @user == current_user %>
            <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
          <% end %>
        </li>
      <% end %>
    </ul>
    Their favorite style is <%= @user.favorite_style %>
  <% end %>

  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
  <% end %>

  <%= link_to "Back to users", users_path %>

  <% if @user == current_user %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
