<div id="<%= dom_id style %>">
  <% if @beers %>
    <p>
      <strong>Style:</strong>
      <%= style.text %>
    </p>
    <p>
    <strong>Description:</strong>
    <%= style.description %>
  </p>
  <% else %>
    <%= link_to style.text, style %>
  <% end %>
  <% if @beers %>
    <ul>
      <% @beers.each do |beer| %>
        <li><%= link_to beer.name, beer %></li>
      <% end %>
    </ul>
  <% end %>

</div>
