<p style="color: green"><%= notice %></p>

<%= render @style %>

<div>
  <% if current_user %> 
    <%= link_to "Edit this style", edit_style_path(@style) %> |
  <% end %>
  <%= link_to "Back to styles", styles_path %>

  <%= button_to "Destroy this style", @style, method: :delete if current_user %>
</div>
