<div id="<%= dom_id brewery %>">
  <h2><%= brewery.name %></h2>
  <i>Established at <%= brewery.year %></i>
  <br/>
  Number of beers: <%= @brewery.beers.count %>
  <p>
    <% @brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>
  
  <p>
    <%= brewery.name %> has 
    <% if brewery.ratings.empty? %>
      not yet been rated!
    <% else %>
      <%= "#{pluralize(brewery.ratings.size,"rating", "ratings")} with an average of #{brewery.average_rating}" %>
    <% end %>
  </p>

</div>
