<div id="<%= dom_id brewery %>">
  <h2><%= brewery.name %></h2>
  <i>Established in <%= brewery.year %></i>
  <br/>
  Number of beers: <%= @brewery.beers.count %>
  <p>
    <% @brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>
</div>
