<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= link_to beer.name, beer %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= link_to beer.style.text, beer.style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= link_to beer.brewery.name, beer.brewery %>
  </p>

  <%= beer.name %> has
  <% if beer.ratings.empty? %>
    not yet been rated!
  <% else %>
    <%= "#{pluralize(beer.ratings.size,"rating", "ratings")}  with an average of #{beer.average_rating}" %>
  <% end %>

</div>
