<h1>Beer places search</h1>

<p id="notice"><%= notice %></p>

<%= form_with url: places_path, method: :post do |form| %>
  city <%= form.text_field :city %>
  <%= form.submit "Search" %>
<% end %>

<% if @weather %>
  <b>
    The current beer weather in <%= @places[0].city %>:
  </b>    

  <%= @weather[:temp] %>˚C
  <br/>
  <img src="<%= @weather[:icon] %>">
  <br/>
  <b>wind</b>: <%= @weather[:speed] %>, direction: <%= @weather[:dir] %>
<% end %>

<% if @places %>
  <table>
    <thead>
      <th>id</th>
      <th>name</th>
      <th>status</th>
      <th>street</th>
      <th>city</th>
      <th>zip</th>
      <th>country</th>
      <th>overall</th>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.id %></td>
        <td><%= link_to place.name, "/places/#{place.city}/#{place.id}" %></td>        <td><%= place.status %></td>
        <td><%= place.street %></td>
        <td><%= place.city %></td>
        <td><%= place.zip %></td>
        <td><%= place.country %></td>
        <td><%= place.overall %></td>
      </tr>
    <% end %>
  </table>
<% end %>
